<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>UnDupe</string>
	<key>CFBundleExecutable</key>
	<string>UnDupe</string>
	<key>CFBundleIconFile</key>
	<string>UnDupe</string>
	<key>CFBundleIconName</key>
	<string>UnDupe</string>
	<key>CFBundleIdentifier</key>
	<string>com.saschanowlin.UnDupe</string>
	<key>CFBundleName</key>
	<string>UnDupe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>UnDupe scans your Desktop to show what's using space and find duplicates.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>UnDupe scans your Documents to show what's using space and find duplicates.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>UnDupe scans your Downloads to show what's using space and find duplicates.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>UnDupe scans connected drives to show what's using space and find duplicates.</string>
</dict>
</plist>
